/node_modules

/public/mix-manifest.json
/public/mix-manifest-css.json
/public/mix-manifest-tailwindcss.json
/public/hot
/public/storage
/storage/*.key
/public/index.html
/public/js
/public/fonts
/public/images
/public/css
/public/api
/public/web-api
/public/bower_components
/public/dist
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
/docker/mysql/init.sql
__MACOSX
.idea
composer.lock
*.DS_Store
front_end
webpack.mix.js
tailwind.js
package.json
/resources/js
/resources/less
/resources/sass
/resources/theme
/resources/shared_lang
