//主题颜色
/** Adminlte主题变量 **/
$light-blue: #3c8dbc; // Primary
$red: #dd4b39; // Danger
$green: #00a65a; // Success
$aqua: #00c0ef; // Info
$yellow: #f39c12; // Warning
$blue: #0073b7;
$navy: #001F3F;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$orange: #FF851B;
$fuchsia: #F012BE;
$purple: #605ca8;
$maroon: #D81B60;
$black: #111;
$gray-lte: #d2d6de;
$regular:#333333;//常规字体颜色
$secondary:#a4aaae;//次要字体颜色
$input-color-placeholder:#999;//表单占位字体颜色
$white:#fff;
$black:#000;
$body-bg:#ecf0f5;

/** 饿了么主题变量 **/
//品牌颜色
$--color-primary:$light-blue;
$--color-success:$green;
$--color-warning:$yellow;
$--color-danger:$red;
$--color-info:$aqua;
//文字颜色
$--color-text-primary: $light-blue;//主要主题颜色
$--color-text-regular: $regular;//常规字体颜色
$--color-text-placeholder: $gray-lte;//未选择颜色
$--color-text-secondary: $secondary;//次要字体颜色
//边框颜色
$--border-color-base:$gray-lte;
//背景颜色
$--color-white:$white;
$--color-black:$black;
$--background-color-base:$body-bg;
$--input-border-radius:0;

/** Bootstarp主题变量 **/
$brand-primary:$light-blue;
$brand-success:$green;
$brand-info:$aqua;
$brand-warning:$yellow;
$brand-danger:$red;

/** 自定义主题变量 **/
$themes: 'primary' 'info' 'success' 'warning' 'danger';
$error: #d73925;
// Brands
$brands:(
    primary:$light-blue,
    info:$aqua,
    success:$green,
    warning:$yellow,
    danger:$red
);
$btns:();
@each $i in $themes {
    $btns: map-merge($btns, (
        $i:(
                bg:map-get($brands, $i),
                border:darken(map-get($brands, $i), 5%),
                hover:darken(map-get($brands, $i), 5%)
            )
        )
    ) !global
}

