$themes: 'primary' 'info' 'success' 'warning' 'danger';
$error: #d73925;
// Brands
$brands:(
    primary:#3c8dbc,
    info:#00c0ef,
    success:#00a65a,
    warning:#f39c12,
    danger:#dd4b39
);
$btns:();
@each $i in $themes {
    $btns: map-merge($btns, (
        $i:(
                bg:map-get($brands, $i),
                border:darken(map-get($brands, $i), 5%),
                hover:darken(map-get($brands, $i), 5%)
            )
        )
    ) !global
}
